@{
    ViewData["Title"] = @ViewData["Home"];
}
<section class="home-intro">
    <h2>به صفحه اصلی خوش آمدید</h2>
    <p>برای تجربه یک بازی سرگرم‌کننده هزار تو، روی دکمه زیر کلیک کنید و مسیر خروج را پیدا کنید.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Maze">شروع بازی هزار تو</a>
</section>
